# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

 - List popular languages for Data Science
 - Commonly used libraries used by Data Scientists
 - Few examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

 1. Python
 2. R
 3. Scala
 4. SQL
 5. Julia

### Some of the commonly used libraries used by Data Scientists include:

 1. Numpy
 2. Pandas
 3. Matplotlib
 4. SciKit-Learn
 5. TensorFlow

   | Data Science Tools|
   |:------------------------------:|
   |R Studio |
   |TensorFlow | 
   |Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

r1 = 4 ** 3  
print(r1)    

r2 = 12 - 7  
print(r2)    

r3 = 10 * 2   
print(r3)

In [1]:
### This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Kousik Naskar